.env*
!.env.example

__pycache__/
*.pyc

.pytest_cache/
.pytest_tmp/

.coverage
.coverage.*
htmlcov/

.mypy_cache/
.ruff_cache/

.venv/
venv/

dist/
build/
*.egg-info/

pgdata/

.idea/
.vscode/

Thumbs.db
Desktop.ini
*.log

videos.json
